* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
    color: white;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #262626;
    color: #f8fafc;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#title {
    font-size: 2.25rem;
    position: relative;
}

#title::after {
    position: absolute;
    content: '';
    background-color: #16a34a;
    width: 8rem;
    height: 0.188rem;
    bottom: 0;
    left: 0;
    border-radius: 1.188rem;
}

.input-box label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: #3f3f46;
    padding: 0.3rem;
    border-radius: 1.188rem;
    margin-top: 1.188rem;  
}

.input-field span,
.input-field i {
    background-color: transparent;
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;  
}

.input-field input {
    background-color: transparent;
    border: 0.063rem solid black;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.3rem;
    color: white;
    padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

.input-field input:focus {
    outline: none;
}

#button-calculate {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 1.188rem;
    cursor: pointer;
}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 0.063rem solid #ffffff34;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
}

#description {
    width: 15.5rem;
}

#section-more-info {
    border-top: 0.063rem solid #ffffff34;
    padding-top: 1.5rem;
}

#section-more-info a {
    color: #16a34a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}

#section-more-info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

.normal {
    color: #16a34a;
}

.attention {
    color: #dc2626;
}

.alert {
    color: yellow;
}